[submodule "tester_unreal_blank/Plugins/hIK_unreal"]
	path = tester_unreal_blank/Plugins/hIK_unreal
	url = https://github.com/wwxhero/hIK_unreal.git

[submodule "Externals/lib_hIK"]
	path = Externals/lib_hIK
	url = https://github.com/wwxhero/lib_hIK.git
[submodule "Externals/bvh_posture_reset"]
	path = Externals/bvh_posture_reset
	url = https://github.com/wwxhero/bvh11
