[submodule "tester_unreal/Plugins/hIK_unreal"]
	path = tester_unreal/Plugins/hIK_unreal
	url = https://github.com/wwxhero/hIK_unreal.git
[submodule "tester_unreal/Externals/lib_hIK"]
	path = tester_unreal/Externals/lib_hIK
	url = https://github.com/wwxhero/lib_hIK.git
